$primary-color: #3f51b5;

a {
  text-decoration: none;
}

.mdl-list__item-secondary-content {
  @extend .overflow-ellipsis-container;
}

.centered-container {
  max-width: 90vw;
  margin: 0 auto;
  text-align: center;
}

.highlighted-link {
  background-color: $primary-color;
  color: white;
}

.no-header {
  margin-top: 2em;
}

.overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.overflow-ellipsis-container {
  min-width: 0;
}

.back-button {
  margin-right: 1em;
}

.link-href {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  white-space: nowrap;
  font-size: 14px;
}

.link-icon-right {
  margin-left: .4em;
}
